@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
 
@keyframes moveAround {
  0% {
    transform: translateX(0) translateY(-100%);
    -webkit-transform: translateX(0) translateY(-100%);
    -moz-transform: translateX(0) translateY(-100%);
    -ms-transform: translateX(0) translateY(-100%);
    -o-transform: translateX(0) translateY(-100%);
}
  25% {
    transform: translateX(100%) translateY(0);
    -webkit-transform: translateX(100%) translateY(0);
    -moz-transform: translateX(100%) translateY(0);
    -ms-transform: translateX(100%) translateY(0);
    -o-transform: translateX(100%) translateY(0);
}
  50% {
    transform: translateX(0) translateY(50%);
  }
  75% {
    transform: translateX(-100%) translateY(0);
    -webkit-transform: translateX(-100%) translateY(0);
    -moz-transform: translateX(-100%) translateY(0);
    -ms-transform: translateX(-100%) translateY(0);
    -o-transform: translateX(-100%) translateY(0);
}
  100% {
    transform: translateX(0) translateY(-100%);
    -webkit-transform: translateX(0) translateY(-100%);
    -moz-transform: translateX(0) translateY(-100%);
    -ms-transform: translateX(0) translateY(-100%);
    -o-transform: translateX(0) translateY(-100%);
}
}

.animate-moveAround {
  animation: moveAround 5s linear infinite;
}
